@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

:root {
    --primary-color: #020650;
    --secondary-color: #95B2B0;
    --accent1-color: #647AA3;
    --accent2-color: #362417;

    --heading-font: 'Inclusive Sans', sans-serif;
    --paragraph-font: 'Inclusive Sans', sans-serif;

    --nav-background-color: #95B2B0;
    --nav-link-color: #020650;
    --nav-hover-link-color: #647AA3;
    --nav-hover-background-color: #95B2B0;
}
h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}
h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 10px;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}
nav {
    text-align: right;
    display: flex;
}
nav a {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}
figure {
    display: flex;
    flex-flow: column;
    grid-row-start: 2;
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 100px;
}
footer div {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    padding-left: 280px;
}
a img {
    width: 50px;
    padding: 5px;
}
footer p {
    text-align: right;
}
form {
    width: 90%;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

/* Class Selectors */

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay img {
    float: right;
    width: 300px;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 40%;
    left: 20%;
    width: 900px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.heading {
    position: absolute;
    bottom: 80%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.6);
}
.history {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 50px;
}
.history h2 {
    justify-items: center;
    grid-column-start: 2;
}
.history p {
    grid-row-start: 2;
}
.history img {
    grid-column-start: 2;
    width: 200px;
    height: auto;
}
.main {
    color: var(--secondary-color);
}
.adventures {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.adventures h2 {
    justify-content: center;
    grid-row-start: 1;
    grid-column-start: 3;
}
.second {
    grid-column-start: 3;
}
.employees {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}