@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

:root {
    --primary-color: #020650;
    --secondary-color: #95B2B0;
    --accent1-color: #647AA3;
    --accent2-color: #362417;

    --heading-font: 'Inclusive Sans', sans-serif;
    --paragraph-font: 'Inclusive Sans', sans-serif;

    --nav-background-color: #95B2B0;
    --nav-link-color: #020650;
    --nav-hover-link-color: #647AA3;
    --nav-hover-background-color: #95B2B0;
}
h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}
h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 10px;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}
nav {
    text-align: right;
    display: flex;
}
nav a {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}
figure {
    display: flex;
    flex-flow: column;
    grid-row-start: 2;
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
}
footer div {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    padding-left: 280px;
}
footer a {
    text-align: left;
    align-self: center;
}
a img {
    width: 50px;
    padding: 5px;
}
footer p {
    grid-column-start: 2;
    text-align: right;
}
form {
    width: 90%;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 2fr 0.5fr 1fr;
    font-family: var(--paragraph-font);
}
input, textarea {
    grid-column: 1 / span 2;
}
button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: var(--paragraph-font);
    text-decoration: none;
}
button:hover {
    background-color: var(--accent1-color);
}
figcaption {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: #fff;
}

/* Class Selectors */

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay img {
    float: right;
    width: 300px;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 40%;
    left: 20%;
    width: 900px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.heading {
    position: absolute;
    bottom: 70%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.6);
}
.history {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 50px;
}
.history h2 {
    justify-items: center;
    grid-column-start: 2;
}
.history p {
    grid-row-start: 2;
}
.history img {
    grid-column-start: 2;
    width: 200px;
    height: auto;
}
.main {
    color: var(--secondary-color);
}
.adventures {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.adventures h2 {
    justify-content: center;
    grid-row-start: 1;
    grid-column-start: 3;
}
.second {
    grid-column-start: 3;
}
.employees {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.employees h2 {
    text-align: center;
    grid-column: 1 / span 3;
    align-self: end;
}
.address {
    display: grid;
}
.contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
}
.map {
    grid-column-start: 3;
}
.contact_heading {
    text-align: center;
    color: var(--primary-color);
}
.contact_1_name {
    grid-column: 1;
    display: grid;
    padding: 1rem;
}
.contact_1_email {
    grid-column: 2;
    display: grid;
    padding: 1rem;
}
.contact_2 {
    grid-column-start: 1;
    padding: 1rem;
}
.contact_3 {
    grid-column: 1 / span 2;
    display: grid;
    padding: 1rem;
}
.contact_4 {
    padding: 1rem;
}
.button {
    display: flex;
    grid-row-start: 5;
    grid-column: 1 / span 2;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.trip {
    width: 45%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
.trip img {
    max-width: 600px;
}
.big_trip {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
.big_trip img {
    width: 100%;
    height: auto;
}
.cta {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 100%;
}
.newsletter {
    width: 50%;
    height: 200px;
    padding: 1rem;
}
.newsletter_name {
    display: grid;
    grid-column: 1 / span 1;
    grid-row-start: 4;
    padding: 1rem;
}
.newsletter_name label {
    padding-bottom: 1rem;
}
.newsletter_name input {
    grid-column: 1 / span 1;
    padding: 0.5rem;
}
.newsletter_email {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 4;
    padding: 1rem;
}
.newsletter_email label {
    padding-bottom: 1rem;
}
.newsletter_email input {
    padding: 0.5rem;
}
.bottom {
    padding: 1rem;
}
.home {
    color: var(--secondary-color);
    left: 50%;
    transform: translateX(29%);
    bottom: 30%;
}
.cta_home {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: var(--paragraph-font);
    text-decoration: none;
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-60%);
    top: 100px;                          
}
.home_2 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: var(--nav-background-color);
    border-radius: 15px;
}
.home_2 img {
    max-width: 450px;
}
.block {
    height: 50px;
}
.trips_header {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}