@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
:root {
    --primary-color: #020650;
    --secondary-color: #95B2B0;
    --accent1-color: #647AA3;
    --accent2-color: #362417;

    --heading-font: 'Inclusive Sans', sans-serif;
    --paragraph-font: 'Inclusive Sans', sans-serif;

    --nav-background-color: #95B2B0;
    --nav-link-color: #020650;
    --nav-hover-link-color: #647AA3;
    --nav-hover-background-color: #95B2B0;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header {
    padding: 10px;
    background-color: var(--primary-color);
}
p {
    padding: 20px;
}
nav {
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
div {
    color: white;
}